@import './global/reset/reset.scss';
@import './global/variables/variables.scss';

main{
    width: 100%;
    min-height: 100vh;
    @include flex(column, 0, center, center);
    padding: 1rem;
}
.nav{
    background-color: var(--accent);
    padding: 1rem;
    @include flex(row, 1rem, center, center);
    border-radius: 1rem;
    transition: width 0.6s linear;
    overflow: hidden;
    &.active{
        width: 21.875rem;   
    }
    ul{
        @include flex(row, 1rem, center, center);
    }
    &.active .icon .line--1{
        transform: rotate(-756deg);
    }
    &.active .icon .line--2{
        transform: rotate(756deg);
    }

}
.icon{
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: red;
    cursor: pointer;
    .line{
            background-color: black;
            height: 0.125rem;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.6s linear;
    }
    .line--2{
        top: auto;
        bottom: 10px;
    }
}


