@import './global/reset/reset.scss';
@import './global/variables/variables.scss';
@import './global/mixins/mixins.scss';

.header{
    @include flex(column, 1rem, center, center);
    padding: 1rem;
    display: flex;
    text-align: center;
    cursor: default;
    & h1 {
        font-size: 3rem;
        font-family: var(--titleType);
        font-weight: bold;
    }    
    & p{
        max-width: 60%;
    }
    &__link{
        @include flex(row, 0, center, center);
        width: fit-content;
        justify-self: center;
        & img{
            transition: 0.2s ease-in-out;
        }
        & img:hover{
            transform: scale(1.3);
        }
    }
}
.item{
    @include flex(row, 0, center, center);
    justify-self: end;
    background-color: var(--accent);
    position: relative;
    height: 2.5rem;
    border-radius: 1rem;
    overflow: hidden;
    width: fit-content;
    min-width: 2.5rem;
    &.active &__input{
        width: 12.5rem;
    }
    &.active &__btn{
        transform: translate(200%, -50%);
    }
    &__input{
        @include flex(row, 0, center, center);
        width: 2rem;
        height: 2rem;
        transition: width 0.3s ease;
        padding: 0.5rem;
        &::placeholder{
            color: var(--text)
        }
        &:focus{
            color: var(--text)
        }
    }
    &__btn{
        @include flex (row, 0, center, center);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease;
        border: 0;
        cursor: pointer;
        background-color: var(--accent);
    }
    &__svg{
        filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(271deg) brightness(111%) contrast(112%);
        z-index: 2;
    }
    &__btn:focus, &__input:focus{
        outline: none;
    }
}
   
    .main{
        min-height: 100vh;
        width: 100%;
        @include flex (row, 0, center, start);
    }
    .cards{
        padding: 2rem;
        width: 100%;
    gap: 1.5rem;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-items: center;
    align-items: center;
    &__card{
        @include flex(column, 0, center, start);
        min-width: 18rem;   
        max-width: 20.375rem;
        height: 18rem;
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
        box-shadow: 6px 3px 24px 0px rgba(0,0,0,0.5);
    }
    &__img{
        width: 100%;    
        border-radius: 1rem;
    }
    &__info{
        @include flex(column, 0, center, center);
        padding: 0 .25rem;
        width: 100%;
        height: 100%;
        min-height: 4rem;
        max-height: 5.5rem;
        background-color: var(--secondary);
        text-align: center;
        position: absolute;
        bottom: 0;
    }
    &__title{
        font-size: 1.5rem;
        font-family: var(--subtitle);
        font-weight: bold;
    }
}
.filter{
    display: none;
}