/* Define here the Custom properties */
:root{
  /*Main*/
  --primary : #3C0753;
  --secondary: #720455;
  
  /*Complement*/
  --text: white;
  --accent: #910A67;

  /*Neutral*/
  --blackTheme       : #222222;
  --whiteTheme       : #ececec;
  --shadowMain       : #c9c9c9;
  --shadowSec        : #ffffff;
  --blackBorder      : #00000050;


  /* Typography*/
  --mainType  : Helvetica, Arial, sans-serif;
  --titleType : Helvetica;
  };
  
/*Dark theme
@media (prefers-color-scheme: dark) {
  :root{
    --blackTheme    : #ececec;
    --whiteTheme    : #303030;
    --shadowMain    : #242424;
    --shadowSec     : #3c3c3c;
    
    --blackBorder   : #FFFFFF50;
  }
};
*/
